.resultcontainer {
    width: 300px;
    margin-left: 1px;
    box-shadow: 0 4px 5px 2px rgba(0, 0, 0, .3);
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-end-start-radius: 0px;
}

.resultbot {
    min-height: 580px;
}

.resultbot h2 {
    text-align: center;
    padding: 30px;
    letter-spacing: 1px;
    color: red;
}

.butt {
    text-align: right;
}

.clearbutt {
    margin: 20px;
    padding: 8px;
    width: 70px;
    border-radius: 10px;
}

.content {
    padding: 15px;
    line-height: 28px;
}